.loginBox{
    background: linear-gradient(180deg, rgb(80, 0, 0), rgb(220, 0, 0));
    width: 40rem;
    height: auto;
    padding: 1.5rem;
    border-radius: 16px;
    border: 0.1rem solid white;
    margin-bottom: 5rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;
}

#loginWarnings{
    width: 100%;

    display: none;
    align-items: center;
    justify-content: space-evenly;
}

.loginError{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1rem;
    font-family: 'Raleway-Black';
    color: white;
    text-align: left;
}

.loginError .loginIcon{
    margin-right: 1rem;
}

.loginTitle{
    font-family: 'Raleway-Black';
    font-size: 1.8rem;
    color: white;
}

.loginMarginTxt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBoxTxt{
    width: 85%;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    border: 0.1rem solid whitesmoke;

    font-size: 1rem;
}

.loginBoxTxt:hover{
    border: 0.15rem solid rgb(255, 100, 100);
}

.loginBoxTxt:focus{
    outline: none;
    width: 90%;
    border: 0.2rem solid rgb(250, 0, 0);
}

.loginBoxTxt--Error{
    background-color: rgb(220, 220, 150);
    border: 0.15rem solid rgb(255, 100, 0);
}

.loginIcon{
    height: 1.8rem;
    margin-right: 3%;
    user-select: none;
}

#loginRememberBox{
    padding: 0.1rem 1.25rem;
    border-radius: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#loginRememberBox:hover{
    background-color: rgba(0, 0, 0, 20%);
}

#loginCheckRemember{
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid white;
    border-radius: 50%;
    
    appearance: none;
    cursor: pointer;
}

#loginCheckRemember::before{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;

    content: '';
    display: block;
    color: white;
    text-align: center;
}

#loginCheckRemember:checked::before{
    width: 1.3rem;
    height: 1.3rem;
    border: 0.1rem solid white;
    margin: -0.09rem 0 0 -0.09rem;

    content: '\2713';
    font-weight: bold;
}

.loginLine{
    width: 98%;
    border: 1px solid white;
}

.loginBoxButton{
    width: 95%;
    padding: 0.5rem 0.2rem;
    border-radius: 16px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;

    font-size: 1rem;
    font-weight: bold;
    user-select: none;
}

.loginBoxButton:hover{
    width: 95%;
    padding: 0.5rem 0.2rem;
    background-color: rgba(255, 255, 255, 20%);
    cursor: pointer;
}

.loginBoxButton:active{
    width: 90%;
    padding: 0.4rem 0.15rem;
    background-color: rgba(0, 0, 0, 50%);
}

.loginBoxLink{
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
    user-select: none;
}

.loginBoxLink:hover{
    text-decoration: underline;
}

.loginBoxLink:visited{
    color: rgb(250, 180, 100);
}

.linksBox{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.linksBox a{
    text-align: center;
}

@media screen and (max-width: 941px){
    .loginBox{
        width: 90%;
        height: 25rem;
        padding: 1.5rem;
    }
}