@font-face{
    font-family: 'Raleway-Regular';
    src: url('/assets/font/Raleway-Regular.ttf');
}

@font-face{
    font-family: 'Raleway-Black';
    src: url('/assets/font/Raleway-Black.ttf');
}

*{
    box-sizing: border-box;
    transition-duration: 450ms;
    font-family: 'Raleway-Regular';
}

html, body{
    width: 100%;
    height: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

html{
    /* background-image: url("/assets/icons/stamp.png");
    background-attachment: fixed; */
    background-color: brown;
    background-size: 50%;

    /* overflow: hidden; */
    background-size: 80% 80%;
    animation: backgroundMovement 50s linear infinite;
}

@keyframes backgroundMovement {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% -100%;
    }
}

.loginBox{
    background: linear-gradient(180deg, rgb(80, 0, 0), rgb(220, 0, 0));
    width: 25rem;
    height: 25rem;
    padding: 1.5rem;
    border-radius: 8px;
    border: 0.1rem solid white;
    /* border-image: linear-gradient(180deg, white, rgb(220, 0, 0), rgb(80, 0, 0)) 1; */

    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: 1rem;
}

.loginTitle{
    font-family: 'Raleway-Black';
    font-size: 1.8rem;
    color: white;
}

.loginMarginTxt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBoxTxt{
    width: 85%;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 0.1rem solid whitesmoke;

    font-size: 1rem;
}

.loginBoxTxt:hover{
    border: 0.15rem solid rgb(255, 100, 100);
}

.loginBoxTxt:focus{
    outline: none;
    width: 90%;
    border: 0.2rem solid rgb(250, 0, 0);
}

.loginMarginTxt .loginIcon{
    height: 1.8rem;
    margin-right: 3%;
    user-select: none;
}

.loginLine{
    width: 98%;
    border: 1px solid white;
}

.loginBoxButton{
    width: 95%;
    padding: 0.5rem 0.2rem;
    border-radius: 8px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;

    font-size: 1rem;
    font-weight: bold;
}

.loginBoxButton:hover{
    width: 95%;
    padding: 0.5rem 0.2rem;
    background-color: rgba(255, 255, 255, 20%);
    cursor: pointer;
}

.loginBoxButton:active{
    width: 90%;
    padding: 0.4rem 0.15rem;
    background-color: rgba(0, 0, 0, 50%);
}

.loginBoxLink{
    font-weight: bold;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.loginBoxLink:hover{
    text-decoration: underline;
}

.loginBoxLink:visited{
    color: rgb(250, 180, 100);
}

@media screen and (min-width: 426px)/*  and (max-width: 768px) */{}

@media screen and (min-width: 941px){}